.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  font-size: 22px;
  color: hsl(222, 96%, 79%);
  padding: 10px;
}
.characters{
  /* /display: flex; */
  flex-direction: column;
}
.blockInfo{
  display: flex;
  padding: 25px;
}



