.home{
 display: flex;
 margin: 50px ;  
 flex-wrap: wrap;
 justify-content: center;
}

li {
font-size: 22px;
color: hsl(222, 96%, 79%);
padding: 10px;
list-style: none;
}

.container{
  margin: 50px;
  box-sizing: border-box;
}
span{
  font-weight: 700;
  font-size: 18px;
  color: rgb(208, 208, 208);
}

