.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.characters{
  /* /display: flex; */
  flex-direction: column;
}
.blockInfo{
  display: flex;
  padding: 25px;
}
.left{
  float:left
}


